{% extends 'base.html.twig' %}
{% block title %}TContactos{% endblock %}
{% block body %}
    <h1>Ficha del contacto</h1>
         {% if contacto %}
    
    {{include('partials/datos_contacto.html.twig', { 'contacto': contacto }) }}
    
    <ul>
        <li><strong>{{ contacto.nombre }}</strong></li>
        <li><strong>Teléfono: </strong>{{ contacto.telefono }}</li>
        {% if contancto.provincia %}
        <li><strong>Provincia: </strong>{{ contacto.provincia.nombre }}</li>
        {% endif %}
        <li><strong>Correo: </strong>{{ contacto.email }}</li>
    </ul>
        {% else %}
            <h4>Contacto no encontrado</h4>
        {% endif %}
    </body>
{% endblock %}
